{{/* 检查 features 功能是否启用及数据是否存在 */}}
{{ if and (isset .Site.Params "features") (.Site.Params.features.enable) }}
{{ if isset .Site.Data "features" }}
{{ $features := sort .Site.Data.features "weight" }}
{{ if gt (len $features) 0 }}

<section class="bar background-white">
    <div class="container">
        {{/* 配置：获取列数并计算 BootStrap 列宽 */}}
        {{ $cols := default 3 .Site.Params.features.cols }}
        {{ $colWidth := div 12 $cols }}
        {{ $currentCol := 0 }}

        {{ range $features }}
            {{/* 当计数器为 0 时，开启新行 */}}
            {{ if eq $currentCol 0 }}
            <div class="row">
            {{ end }}

            <div class="col-md-{{ $colWidth }}">
                <div class="box-simple">
                    {{/* 图标渲染 */}}
                    {{ with .icon }}
                    <div class="icon">
                        <i class="{{ . | safeHTML }}"></i>
                    </div>
                    {{ end }}

                    {{/* 标题与链接逻辑 */}}
                    {{ with .url }}
                    <a href="{{ . | safeURL }}" title="{{ $.name | default "" | markdownify }}">
                    {{ end }}
                        {{ with .name }}
                        <h3>{{ . | markdownify }}</h3>
                        {{ end }}
                    {{ if .url }}</a>{{ end }}
                    
                    {{/* 描述渲染 */}}
                    {{ with .description }}
                    <p>{{ . | markdownify }}</p>
                    {{ end }}
                </div>
            </div>

            {{/* 增加计数器 */}}
            {{ $currentCol = add $currentCol 1 }}
            
            {{/* 当列满时，闭合行并重置计数器 */}}
            {{ if eq $currentCol $cols }}
            </div>
            {{ $currentCol = 0 }}
            {{ end }}
        {{ end }}

        {{/* 防错逻辑：如果最后一行未满列数，强制闭合 div */}}
        {{ if ne $currentCol 0 }}
        </div>
        {{ end }}

    </div>
</section>

{{ end }}
{{ end }}
{{ end }}