{{ template "_internal/google_analytics.html" . }}


<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-parallax/1.1.3/jquery-parallax.js"></script>

<script src="{{ "js/front.js" | relURL }}"></script>

<!-- owl carousel -->
<script src="{{ "js/owl.carousel.min.js" | relURL }}"></script>

<script>
    // 你的其他 JavaScript 代码...
    
    function toggleSidebar() {
        const sidebarContent = document.querySelector('.sidebar-content-box');
        if (sidebarContent) {
            sidebarContent.classList.toggle('active');
        } else {
            console.error('Sidebar content box not found!');
        }
    }
</script>

