<div class="fixed-sidebar-wrapper">

    <div class="sidebar-content-box">
        <div class="sidebar-item phone-item">
            <i class="fa fa-phone"></i>
            <div class="phone-number-box">
                <p>联系电话</p>
                <p class="phone-number">156-2931-5964</p>
            </div>
        </div>

        <div class="sidebar-item wechat-item">
            <i class="fab fa-weixin"></i>
            <div class="wechat-qr-code">
                <img src="/images/wechat-qr-code.png" alt="微信二维码">
            </div>
        </div>

        <a href="#top" class="sidebar-item back-to-top">
            <i class="fa fa-arrow-up"></i>
        </a>
    </div>
</div>